.Register__Content {
  width: 100vw;
  height: 100vh;
}

.Register__Main {
  font-family: var(--font-family-global);
  color: var(--color-global);
  font-weight: 300;
  font-size: 16px;
  min-width: 350px;
}

.Register__Logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.Register__TopText {
  font-size: 24px;
  font-weight: 600;
}

.Register__SubText {
  margin: 20px 0;
  color: var(--color-shadow);
}

.Register__Inputs {
  margin-bottom: 25px;
}

.Register__Inputs * + * {
  margin-top: 20px;
}

.Register__Navigation {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.Register__Error {
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--color-shadow);
  font-weight: 400;
} 